@charset 'utf-8';

// reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.gallery {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(45deg, mediumpurple, aqua);

	h1 {
		position: absolute;
		top: 70px;
		left: 50px;
		font: normal 24px/1 'orbitron';
		color: #fff;
		letter-spacing: 1px;
		span {
			color: #eee;
		}
	}

	.swiper-wrapper {
		//패널인 swiper-slide를 묶어주는 대상
		//coverflow라는 효과는 다른 패널들과 달리 wrapper와 slide의 너비가 같으면 안된다
		width: 100%;
		height: 100%;
		.swiper-slide {
			position: relative;
			top: 50%;
			margin-top: -230px;
			width: 500px;
			height: 500px;
			.inner {
				position: relative;
				width: 100%;
				height: 100%;
				background: #fff;
				padding: 30px;
				opacity: 0.4;
				transition: 1s;
				&::before,
				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: #fff;
					opacity: 0;
				}
				.con {
					position: relative;
					img {
						width: 100%;
					}
					h2 {
						font: normal 40px/1 'roboto';
						color: #111;
						margin-top: 15px;
						margin-bottom: 20px;
						&::after {
							content: '';
							display: block;
							width: 30px;
							height: 1px;
							background: #888;
							margin-top: 14px;
							transition: 1s 0.5s;
						}
					}
					p {
						font: 13px/1.3 'arial';
						color: #aaa;
						letter-spacing: 1px;
					}
				}
			}
		}
		.swiper-slide-prev .inner,
		.swiper-slide-next .inner {
			opacity: 0.7;
		}
		.swiper-slide-active {
			.inner {
				opacity: 1;
				box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);

				&::before {
					animation: ani 1s linear 1;
				}
				&::after {
					animation: ani 1s 0.3s linear 1;
				}
				.con {
					h2 {
						&::after {
							width: 100px;
						}
					}
				}
			}
		}
	}

	.auto {
		position: absolute;
		bottom: 60px;
		left: 60px;
		li {
			float: left;
			margin-right: 20px;
			font-size: 20px;
			color: #fff;
			opacity: 0.9;
			transition: 0.5s;
			cursor: pointer;
			&:hover {
				opacity: 1;
				transform: scale(1.4);
			}
		}
	}
	.swiper-button-next {
		top: auto;
		bottom: 50px;
		right: 60px;
		filter: grayscale(100%) brightness(3);
	}
	.swiper-button-prev {
		left: auto;
		top: auto;
		bottom: 50px;
		right: 100px;
		filter: grayscale(100%) brightness(3);
	}

	.swiper-pagination-fraction {
		width: auto;
		left: auto;
		bottom: auto;
		top: 50px;
		right: 50px;
		font-size: 16px;
		font-family: 'orbitron';
		color: #eee;
		letter-spacing: 1px;
		span.swiper-pagination-current {
			font-size: 30px;
			color: #eee;
		}
	}
}

@keyframes ani {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		transform: scale(1.4);
		opacity: 0;
	}
}
